.App {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

main {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-socials {
    display: none !important;
  }
}

/* Responsive Font Sizes */
@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }
}

/* Swiper Pagination Mobile */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

@media (max-width: 768px) {
  .swiper-pagination {
    right: 15px !important;
  }
}